<%= form_for comment, url: [comment] do |f| %>
    <p>
      Your comment
      <%= f.text_field :content %>
      <%= post.errors[:content] %>
    </p>
    <%= f.hidden_field :post_id, :value => post.id %>
    <%= f.submit 'Add your comment', :class => 'btn btn-success' %>
<% end %>