<ul>
  <% @posts.each do |post| %>
      <li>
        <%= link_to [post] do %>
            <%= post.title %> - <%= post.publish_date %>
            <% if post.user != nil %>
                (<%= '(' + post.user.email + ')' if post.user != nil %>)
            <% else %>
                (Unknown author)
            <% end %>
            <%= image_tag(post.image.thumb) unless post.image.nil? %>
        <% end %>
      </li>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to 'Add new post', [:new, :post], :class => "btn btn-info" %>
  <% end %>
</ul>