<ul class="list-group">
  <% @posts.each do |post| %>
      <li class="list-group-item">
          <%= post.title %> - <%= post.publish_date %>
          <% if post.user != nil %>
              (<%= post.user.email  %>)
          <% else %>
              (Unknown author)
          <% end %>
          <%= image_tag(post.image.thumb) unless post.image.nil? %>
           - <%= post.resume %> ...<%= link_to [post] do %> Voir la suite <% end %>
      </li>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to 'Add new post', [:new, :post], :class => "btn btn-info" %>
  <% end %>
</ul>
