<ul>
  <% @posts.each do |post| %>
      <li>
        <%= post.title %> - <%= post.publish_date %>
        <% if post.user != nil %>
            (<%= post.user.name %>)
        <% else %>
            (Unknown author)
        <% end %>
      </li>
  <% end %>

  <% if user_signed_in? %>
      <div>Signed in as... <%= current_user.email %></div>
      <%= link_to 'Add new post', [:new, :post] %>
  <% end %>
</ul>