<ul>
  <% @posts.each do |post| %>
      <li>
        <%= link_to [post] do %>
            <%= post.title %> - <%= post.publish_date %>
            <% if post.user != nil %>
                (<%= post.user.name %>)
            <% else %>
                (Unknown author)
            <% end %>
        <% end %>
      </li>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to 'Add new post', [:new, :post] %>
  <% end %>
</ul>