<%= bootstrap_form_for user, url: [:admin, user] do |f| %>
    <p>
      <%= f.text_field :firstname %>
      <%= user.errors[:firstname] %>
    </p>
    <p>
      <%= f.text_field :name %>
      <%= user.errors[:name] %>
    </p>
    <p>
      <%= f.text_field :email %>
      <%= user.errors[:email] %>
    </p>
    <p>
      <%= f.password_field :password %>
      <%= user.errors[:password] %>
    </p>
    <p>
      <%= f.file_field :avatar %>
      <%= user.errors[:avatar] %>
    </p>

    <%= f.submit class: 'btn btn-success' %>

<% end %>
