<h1><%= @user.firstname %> <%= @user.name %></h1>

<p>
  <%= image_tag(@user.avatar) unless @user.avatar.nil? %>
</p>

<ul class="list-group">
  <li class="list-group-item"><b>Email : </b> <%= @user.email %></li>
  <li class="list-group-item"><b>Member since : </b> <%= @user.created_at %></li>
  <li class="list-group-item"><b>Last update : </b> <%= @user.updated_at %></li>
</ul>

<%= link_to 'Edit this user', [:edit, :admin, @user], :class => 'btn btn-info' %>
<%= link_to 'Delete this user', [:admin, @user], method: :delete, :class => 'btn btn-danger' %>
