<h1><%= @user.firstname %> <%= @user.name %></h1>

<%= image_tag(@user.avatar) unless @user.avatar.nil? %>

<ul>
  <li><%= @user.email %></li>
  <li>Member since : <%= @user.created_at %></li>
  <li>Last update : <%= @user.updated_at %></li>
</ul>

<%= link_to 'Edit this user', [:edit, :admin, @user], :class => 'btn btn-info' %>
<%= link_to 'Delete this user', [:admin, @user], method: :delete, :class => 'btn btn-danger' %>

